body {
background: url("https://images.pexels.com/photos/606542/pexels-photo-606542.jpeg?cs=srgb&dl=beverage-caffeine-coffee-606542.jpg&fm=jpg");
background-size: cover;
background-position: center;
background-repeat: no-repeat;
background-color: grey;
color: black;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

.col {
float: left;
position: sticky;
font-size: 30px;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}

a {
color: white;
}


.maincontainer {
    padding: 0px;
    width: 100%;
    max-width: 900px;
    margin: 0 auto;
    clear: both;
    background-color: white;
    opacity: 0.6; 
}


.pageTitle {
padding: 60px;
}


#surveyButton {
margin: 30px;
}